.section-about-hero {
    .title {
        & > span {
            @apply inline;

            .outer-span {
                @apply inline sm:block;
            }
        }
        span {
            &.chars {
                @apply opacity-0 relative top-10;
            }

            &.text-highlight {
                @apply relative;

                .chars {
                    @apply text-gradient-1;
                }
            }
        }
    }
}

.section-our-leadership {
    .leadership-card-wrapper {
        .leadership-card {
            figure {
                @apply bg-[#29606f];

                .photo {
                    @apply mix-blend-luminosity transition-all duration-300 ease-in-out;
                }
            }

            &.active {
                figure {
                    .photo {
                        @apply mix-blend-normal;
                    }
                }
            }
        }
    }
    .leadership-detail {
        h6 {
            @apply font-body text-[1.375rem] md:text-[1.5rem] lg:text-[clamp(1.125rem,-0.2554rem+1.7255vw,1.4rem)] 2xl:text-[1.5rem] text-white font-semibold mb-2;

            &:not(:first-of-type) {
                @apply mt-4;
            }
        }
        ul {
            @apply list-disc pl-6;

            li:not(:last-of-type) {
                @apply mb-1;

                strong {
                    @apply font-semibold;
                }
            }
        }
    }
}
