.section-capabilities-hero {
    .title {
        & > span {
            @apply inline;

            .outer-span {
                @apply inline sm:block;
            }
        }
        span {
            &.chars {
                @apply opacity-0 relative top-10;
            }

            &.text-highlight {
                @apply relative;

                .chars {
                    @apply text-gradient-1;
                }
            }
        }
    }
}

.section-our-capabilities {
    .radio-title-wrapper {
        @apply relative z-[1];

        &:after {
            @apply content-[''] border-b-2 border-solid border-black border-opacity-20 w-screen h-0.5 absolute right-0 bottom-0 -z-[1];
        }
    }

    .capabilities-tabs-wrapper {
        @apply flex flex-col md:flex-row;

        [data-slot="base"] {
            @apply md:py-[1.125rem] md:border-r-2 border-solid border-black border-opacity-20 md:w-[30%] md:min-w-[30%] 2xl:w-[35%] 2xl:min-w-[35%];

            [data-slot="tabList"] {
                @apply flex max-md:flex-row gap-0 p-0 w-full;

                [data-slot="tab"] {
                    @apply font-heading text-[1.25rem] md:text-[1.125rem] lg:text-[1.25rem] xl:text-[1.5rem] text-left leading-tight md:leading-tight flex justify-start items-start p-6 md:pr-5 md:pl-0 md:py-[0.75rem] 2xl:py-[1.125rem] w-auto md:w-full h-auto opacity-20 transition-all duration-300 ease-in-out;

                    &:before {
                        @apply content-['-'] max-md:hidden pr-0 max-w-0 overflow-hidden transition-all duration-300 ease-in-out;
                    }

                    &[data-selected="true"] {
                        @apply opacity-100;

                        &:before {
                            @apply pr-2 max-w-full;
                        }
                    }

                    & > div {
                        @apply text-inherit;
                    }

                    [data-slot="cursor"] {
                        @apply hidden;
                    }

                    [data-slot="tabContent"] {
                        @apply grow md:whitespace-normal;
                    }
                }
            }
        }

        [data-slot="panel"] {
            @apply grow pt-4 pb-6 px-0 md:p-5 md:pr-0 md:-mt-[6.25rem] xl:-mt-[6.25rem] 2xl:-mt-[7.25rem];

            .inner {
                @apply h-full relative z-[1];

                figure {
                    // @apply w-full h-full max-h-[55.5rem] relative rounded-2xl overflow-hidden;
                    @apply w-full h-[48rem] sm:h-[80vw] md:h-[42rem] xl:h-[45rem] 2xl:h-[55.5rem] relative rounded-2xl overflow-hidden;
                    // @apply w-full h-full xl:h-[45rem] 2xl:h-[55.5rem] relative rounded-2xl overflow-hidden;

                    &:before {
                        @apply content-[''] bg-overlay-3 absolute inset-0 z-0;
                    }

                    .image {
                        @apply w-full h-full min-h-[38rem] object-cover;
                    }
                }
                .content-wrapper {
                    @apply text-white p-6 xl:p-8 2xl:p-10 w-full absolute left-0 bottom-0 z-[1];
                }
            }
        }
    }
}

.section-our-technology {
    .box-wrapper {
        @apply flex flex-wrap -mx-2;

        .box {
            @apply p-2;

            .inner {
                @apply bg-light-gray flex flex-col justify-between border-1 border-solid border-black border-opacity-20 w-full h-full;

                .image {
                    @apply w-full h-auto;
                }

                .content {
                    @apply flex flex-col gap-3 2xl:gap-4 p-4 2xl:p-6;

                    h5 {
                        @apply text-[1.5rem] md:text-[1.5rem] xl:text-[clamp(1.5rem,-1.0098rem+3.1373vw,2rem)] 2xl:text-[2rem];
                    }

                    p {
                        @apply text-[1.125rem] md:text-[1.075rem] xl:text-[clamp(1.075rem,0.1966rem+1.098vw,1.25rem)] 2xl:text-[1.25rem];
                    }

                    .button-wrapper {
                        .button {
                            @apply text-[1.125rem] md:text-[1.125rem] xl:text-[1.125rem] 2xl:text-[1.25rem];
                        }
                    }
                }
            }

            &.box-aesa {
                @apply sm:w-[50%] md:w-[50%] xl:w-[30%];

                .image {
                    @apply -mb-[5%];
                }
            }
            &.box-sensing {
                @apply sm:w-[50%] md:w-[50%] xl:w-[40%];

                .inner {
                    @apply sm:flex-col-reverse;
                }
            }
            &.box-eo {
                @apply sm:w-[50%] md:w-[50%] xl:w-[30%];

                .image {
                    @apply pt-4 2xl:pt-6;
                }
            }
            &.box-mitigation {
                @apply sm:w-[50%] md:w-[50%] xl:w-[37%];

                .inner {
                    @apply max-sm:flex-col max-xl:flex-col-reverse;

                    .image {
                        @apply p-4 pb-0 sm:p-4 sm:pt-0 xl:p-4 xl:pb-0 2xl:p-6 2xl:pb-0;
                    }
                }
            }
            &.box-fusion {
                @apply md:w-[100%] xl:w-[63%];

                .inner {
                    @apply sm:flex-row items-center;

                    .image {
                        @apply p-4 max-sm:pb-0 2xl:p-6 max-sm:max-w-full max-lg:max-w-[55%] h-full;
                    }

                    .content {
                        @apply sm:max-w-[48%];
                    }
                }
            }
        }
    }
}
