.section-career-hero {
    .title {
        & > span {
            @apply inline;

            .outer-span {
                @apply inline sm:block;
            }
        }
        span {
            &.chars {
                @apply opacity-0 relative top-10;
            }

            &.text-highlight {
                @apply relative;

                .chars {
                    @apply text-gradient-1;
                }
            }
        }
    }
}

.section-our-positions {
    @apply overflow-hidden;

    .table-open-positions {
        @apply w-full;

        tr {
            @apply relative;

            &::after {
                @apply content-[''] border-b-2 border-solid border-black border-opacity-20 w-screen h-[1px] absolute left-1/2 bottom-0 -translate-x-1/2;
            }

            & > * {
                @apply text-left p-4 xl:p-6 2xl:p-8 border-r-2 border-solid border-black border-opacity-20;

                &:first-of-type {
                    @apply pl-0;
                }
                &:last-of-type {
                    @apply pr-0 border-r-0;
                }
            }

            & > *:nth-child(1) {
                @apply w-[20%];
            }
            & > *:nth-child(2) {
                @apply w-[20%];
            }
            & > *:nth-child(3) {
                @apply w-[14%];
            }
            & > *:nth-child(4) {
                @apply w-[35%];
            }
            & > *:nth-child(5) {
                @apply w-[11%];
            }

            th {
                @apply text-[1rem] md:text-[1.125rem] lg:text-[1.125rem] xl:text-[1.25rem] 2xl:text-[1.5rem] text-black text-opacity-60 font-normal;
            }
            td {
                @apply text-[1.25rem] md:text-[1.25rem] lg:text-[1.25rem] xl:text-[1.5rem] 2xl:text-[2rem] leading-tight md:leading-tight;

                .locations-wrapper {
                    .chip {
                        @apply bg-green-dark bg-opacity-10 text-[0.85rem] md:text-[1rem] xl:text-[1rem] 2xl:text-[1.5rem] gap-1.5 xl:gap-1.5 2xl:gap-2 px-2 xl:px-3 2xl:px-4 py-1.5 xl:py-2 2xl:py-2.5 h-auto;

                        span {
                            @apply p-0;
                        }
                    }
                }

                .link {
                    @apply font-heading text-green-dark text-[0.85rem] md:text-[0.85rem] lg:text-[1rem] xl:text-[1rem] 2xl:text-[1.25rem] font-semibold uppercase tracking-wider table;
                }
            }
        }
    }
}

.section-our-positions {
    .table-open-positions {
        thead {
            @apply max-md:hidden;
        }
        tr {
            @apply max-md:flex max-md:flex-col max-md:py-4 max-md:w-full;

            td {
                @apply max-md:flex max-md:px-0 max-md:py-2 max-md:border-none max-md:w-full !important;

                &:before {
                    @apply max-md:content-[attr(data-label)] max-md:text-black max-md:text-opacity-60 max-md:text-base max-sm:min-w-[6.5rem] max-md:min-w-48;
                }
            }
        }
    }
}
