// Noka Sans
@font-face {
    font-family: "Noka Sans";
    src: url("/fonts/noka-trial/NokaTrial-Hairline.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Noka Sans";
    src: url("/fonts/noka-trial/NokaTrial-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Noka Sans";
    src: url("/fonts/noka-trial/NokaTrial-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Noka Sans";
    src: url("/fonts/noka-trial/NokaTrial-Semibold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Noka Sans";
    src: url("/fonts/noka-trial/NokaTrial-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Noka Sans";
    src: url("/fonts/noka-trial/NokaTrial-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
}

// Neue Haas Grotesk Display Pro
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayXThin.ttf")
        format("truetype");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayThin.ttf")
        format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayLight.ttf")
        format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayRoman.ttf")
        format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayMedium.ttf")
        format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayBold.ttf")
        format("truetype");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Neue Haas Grotesk Display Pro";
    src: url("/fonts/neue-haas-grotesk-display-pro/NeueHaasDisplayBlack.ttf")
        format("truetype");
    font-weight: 900;
    font-style: normal;
}
