.section-investor-hero {
    .title {
        & > span {
            @apply inline;

            .outer-span {
                @apply inline sm:block;
            }
        }
        span {
            &.chars {
                @apply opacity-0 relative top-10;
            }

            &.text-highlight {
                @apply relative;

                .chars {
                    @apply text-gradient-1;
                }
            }
        }
    }

    .description {
        .lines {
            @apply block overflow-hidden;

            .words {
                @apply opacity-0 relative top-20;
            }
        }
    }
}

.section-market-opportunity {
    .grid-wrapper {
        @apply grid grid-cols-6 gap-4;

        .item {
            @apply text-white p-6 xl:p-7 pt-32 sm:pt-44 2xl:pt-60 relative z-[1] rounded-2xl overflow-hidden;

            &:after {
                @apply content-[''] bg-overlay-1 absolute inset-0 -z-[1];
            }

            h5 {
                @apply text-[1.5rem] md:text-[2rem] xl:text-[1.75rem] 2xl:text-[1.85rem] text-white font-medium;
            }

            p {
                @apply text-[1.125rem] md:text-[1.25rem] xl:text-[1.125rem] 2xl:text-[1.25rem] mt-2 xl:mt-3;
            }

            .image {
                @apply w-full h-full object-cover absolute inset-0 -z-[1] rounded-none;
            }

            &.item-military {
                @apply col-span-6 sm:col-span-3;
            }
            &.item-maritime {
                @apply col-span-6 sm:col-span-3;
            }
            &.item-integrated {
                @apply col-span-6 xl:col-span-2;
            }
            &.item-shipborne {
                @apply col-span-6 sm:col-span-3 xl:col-span-2;
            }
            &.item-radar {
                @apply col-span-6 sm:col-span-3 xl:col-span-2;
            }
        }
    }
}

.section-strategic-priorities {
    .grid-wrapper {
        @apply grid grid-cols-1 sm:grid-cols-2 gap-6 md:gap-10;

        .item {
            @apply bg-grid-pattern bg-no-repeat bg-center bg-cover bg-light-gray text-center p-4 md:p-6 border-1 border-solid border-black border-opacity-20 rounded-md shadow-card;

            .image {
                @apply mx-auto mt-[2vw] mb-[3vw] 2xl:my-0 h-[8rem] md:h-[10rem] 2xl:h-[21rem] 2xl:object-none;
            }
            h5 {
                @apply mb-3 mx-auto sm:max-w-44 md:max-w-60 xl:max-w-full;
            }
            p {
                @apply text-[1.125rem] md:text-[1.25rem] leading-tight md:leading-tight;
            }

            &.item-strengthen-ai {
                h5 {
                    @apply sm:max-w-36 md:max-w-48 xl:max-w-full;
                }
            }
        }
    }

    .desc-animation1,
    .desc-animation2,
    .desc-animation3 {
        @apply opacity-0;

        .lines {
            @apply block overflow-hidden;

            .words {
                @apply opacity-0 relative top-20;
            }
        }
    }
}

.section-key-highlights {
    .card-wrapper {
        @apply flex flex-wrap mt-8 md:mt-12 xl:mt-16 -mx-2 -mb-6 xl:-mb-4;

        .card {
            @apply px-2 mb-6 xl:mb-4 w-full xl:w-1/2;

            .inner {
                @apply bg-gradient-to-b text-white flex max-sm:flex-col justify-between h-full relative z-[1] rounded-lg overflow-hidden;

                .left {
                    @apply max-sm:text-center flex flex-col justify-between gap-[1rem] sm:gap-[3rem] 2xl:gap-[5.5rem] p-6 sm:pr-0 2xl:p-10 2xl:pr-0;

                    .num {
                        @apply font-heading text-[4.5rem] 2xl:text-[5rem] leading-none;
                    }
                    .bottom {
                        @apply max-sm:mx-auto max-w-80;

                        h5 {
                            @apply text-[1.5rem] md:text-[2rem] xl:text-[1.55rem] 2xl:text-[2rem] text-white mb-2 2xl:mb-3;
                        }
                        p {
                            @apply text-[1rem] md:text-[1.25rem] xl:text-[1rem] 2xl:text-[1.25rem];
                        }
                    }
                }

                .right {
                    @apply content-end;

                    .image {
                        @apply sm:pt-4 max-sm:mx-auto;
                    }
                }

                .pattern {
                    @apply max-w-[50%] absolute -z-[1];
                }
            }

            &.card-green {
                .inner {
                    @apply from-[#8EBD73] to-[#3B6523];

                    .right {
                        .image {
                            @apply max-sm:pl-4 pb-6 xl:pb-8 2xl:pb-10 pr-4 md:pr-6;
                        }
                    }

                    .pattern {
                        &.pattern-1 {
                            @apply left-0 bottom-0;
                        }
                        &.pattern-2 {
                            @apply right-0 top-0;
                        }
                    }
                }
            }
            &.card-brown {
                .inner {
                    @apply from-[#FFB266] to-[#653D16];

                    .right {
                        .image {
                            @apply max-sm:pl-4 pb-4 pr-4;
                        }
                    }

                    .pattern {
                        &.pattern-1 {
                            @apply left-0 bottom-0;
                        }
                        &.pattern-2 {
                            @apply right-0 top-0;
                        }
                    }
                }
            }
            &.card-blue {
                .inner {
                    @apply from-[#4cd6fc] to-[#118AAC];

                    .right {
                        .image {
                            @apply max-sm:pl-4 pb-4 pr-4 md:pr-6;
                        }
                    }

                    .pattern {
                        &.pattern-1 {
                            @apply left-0 top-0;
                        }
                        &.pattern-2 {
                            @apply right-0 bottom-0;
                        }
                    }
                }
            }
            &.card-purple {
                .inner {
                    @apply from-[#AC82FF] to-[#381D6E];

                    .right {
                        .image {
                            @apply max-sm:pl-4 pr-4 md:pr-6;
                        }
                    }

                    .pattern {
                        &.pattern-1 {
                            @apply left-0 top-0;
                        }
                        &.pattern-2 {
                            @apply right-0 bottom-0;
                        }
                    }
                }
            }
        }
    }
}
