@use "./fonts.scss" as *;

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-body text-[1.375rem] md:text-[1.5rem] text-black font-normal leading-normal md:leading-normal min-h-dvh cursor-default;

    & > div[data-overlay-container] {
        @apply flex flex-col min-h-dvh;

        & > main {
            @apply flex-grow;
        }
    }
}

::selection {
    @apply bg-[#29606f] text-active;
    -webkit-text-fill-color: #b2df97;
}

.transition {
    @apply transition-all duration-300 ease-in-out;
}

a,
button {
    @apply transition-all duration-300 ease-in-out;
}

.container {
    @apply px-6 md:px-8 mx-auto w-full max-w-[118rem];
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-heading text-black font-normal;
}

h1,
.h1 {
    @apply text-[5rem] md:text-[7.5rem] leading-tight md:leading-tight; // 120px - 80px
}
h2,
.h2 {
    // @apply text-[3rem] md:text-[3.75rem] leading-tight md:leading-tight; // 60px - 48px
    @apply text-[2.75rem] md:text-[3.75rem] leading-tight md:leading-tight; // 60px - 44px
}
h3,
.h3 {
    // @apply text-[2.75rem] md:text-[3.125rem] leading-tight md:leading-tight; // 50px - 44px
    @apply text-[2.5rem] md:text-[3.125rem] leading-tight md:leading-tight; // 50px - 40px
}
h4,
.h4 {
    @apply text-[2.125rem] md:text-[2.5rem] leading-tight md:leading-tight; // 40px - 34px
}
h5,
.h5 {
    // @apply text-[1.75rem] md:text-[2rem] leading-tight md:leading-tight; // 32px - 28px
    @apply text-[1.5rem] md:text-[2rem] leading-tight md:leading-tight; // 32px - 24px
}
h6,
.h6 {
    @apply text-[1.375rem] md:text-[1.5rem] leading-tight md:leading-tight; // 24px - 22px
}

.text-medium {
    @apply text-[1.125rem] md:text-[1.25rem] leading-tight md:leading-tight; // 20px - 18px
}

p {
    @apply mb-4;

    &:last-child {
        @apply mb-0;
    }
}

.button {
    // @apply bg-green-dark text-[1.125rem] md:text-[1.25rem] text-white font-semibold text-center uppercase tracking-wider leading-tight md:leading-tight px-8 md:px-10 2xl:px-12 py-4 md:py-6 2xl:py-[1.7rem] w-auto h-auto rounded-none;
    @apply bg-green-dark text-[1.125rem] md:text-[1.25rem] text-white font-semibold text-center uppercase tracking-wider leading-tight md:leading-tight px-4 py-4 md:py-6 2xl:py-[1.6rem] border-1 border-green-dark w-auto h-auto rounded-none;

    &.button-border-white {
        @apply bg-transparent hover:bg-white hover:text-green-dark border-white border-opacity-50;
    }
}

// .btn-primary {
//     @apply bg-gradient-button font-heading text-base text-white inline-flex flex-wrap justify-center content-center px-4 lg:px-5 py-2 rounded-sm;
// }
// .btn-secondary {
//     @apply bg-gradient-diagonal-1 font-heading text-base text-white inline-flex flex-wrap justify-center content-center px-4 lg:px-5 py-2 border border-[#939393] rounded-sm;

//     &.btn-lg {
//         @apply text-[1.25rem] md:text-[1.5rem] leading-tight md:leading-tight py-3 md:py-4 h-auto rounded-md md:rounded-lg;
//     }

//     span {
//         @apply text-gradient-2;
//     }
// }
// .btn-bordered {
//     @apply bg-transparent text-base text-black inline-flex flex-wrap justify-center content-center px-4 lg:px-5 py-2 border border-black rounded-sm;
// }
// .btn-success-bordered {
//     @apply bg-gradient-success p-0.5 h-auto rounded-full;

//     .inner {
//         @apply bg-white flex items-center gap-2 px-6 py-2 w-full h-full rounded-full;

//         .text {
//             @apply text-gradient-success;
//         }
//     }
// }

// .btn-large {
//     @apply text-xl md:text-2xl px-6 py-3 md:py-[1.1rem] h-auto rounded-md;
// }

// .heading-line {
//     &::after {
//         @apply content-[''] bg-red table mt-1 w-20 h-1;
//     }
// }

// .chip {
//     &[class*="danger"] {
//         @apply bg-[#E7000B] bg-opacity-[0.12] font-heading text-red font-normal flex items-center gap-3 px-4 py-1.5 h-auto;
//         svg {
//             path {
//                 fill: #d4000a;
//             }
//         }
//         span {
//             @apply text-[1rem] leading-tight p-0;
//         }
//     }
// }

// .split1,
// .split2,
// .split12,
// .split20,
// .split23,
// .split27,
// .split33,
// .split34,
// .split35,
// .split36 {
//     @apply opacity-0 will-change-transform;

//     & * {
//         @apply will-change-transform;
//     }

//     .line-mask {
//         @apply block;

//         .line {
//             @apply block;
//         }
//     }

//     &.text-gradient-1 {
//         .line {
//             background: -webkit-linear-gradient(left, #006ed8, #d81114);
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//         }
//     }
// }

// ============================================================

// :where(
//         .split3,
//         .split4,
//         .split5,
//         .split6,
//         .split7,
//         .split8,
//         .split9,
//         .split10,
//         .split11,
//         .split13,
//         .split14,
//         .split15,
//         .split16,
//         .split17,
//         .split18,
//         .split19,
//         .split21,
//         .split22,
//         .split24,
//         .split25,
//         .split26,
//         .split28,
//         .split29,
//         .split30,
//         .split31,
//         .split32,
//         .split37,
//         .split38
//     ) {
//     @apply will-change-transform;

//     & * {
//         @apply will-change-transform;
//     }

//     .line-mask {
//         @apply block;

//         .line {
//             @apply block;
//         }
//     }

//     &.text-gradient-1 {
//         .line {
//             background: -webkit-linear-gradient(left, #006ed8, #d81114);
//             -webkit-background-clip: text;
//             -webkit-text-fill-color: transparent;
//         }
//     }
// }

// .section-content {
//     h5 {
//         @apply text-gradient-2 font-medium mt-8 mb-3;
//     }
//     a {
//         @apply text-gradient-2;
//     }
//     ul {
//         @apply list-disc pl-4 mb-4;

//         li {
//             @apply mb-1.5;
//         }
//     }
// }

// .hide-content {
//     @apply opacity-0;
// }

.radio-title {
    @apply flex;

    .radio {
    }
    .text {
    }
}
